<form method="post" action="/checkout">
    <h1>List</h1>
    <label for="item">item: </label>
    <input type="text" name="item">
    <button name="submit">submit</button>
</form>

<ul>
    <li><%=@session["item"]%></li>
</ul>
