<h1> Enter the Item </h1>
<form action="/checkout" method="post">
<label for="item">Item Name</label>
<input type="text" name="item" id="item"></input>
<input type="submit" value="submit" id="submit">


</form>
